/*-- scss:defaults --*/

$web-font-path: "https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}

// fonts
$font-family-sans-serif: 'Roboto' !default;

// colors
$body-bg: #fff !default;
$body-color: #000 !default;
$light-bg-text-color: #687178 !default;
$link-color: #5a7a2b !default;
$selection-bg: #26351c !default;

// headings
$presentation-heading-font: "Roboto" !default;
$presentation-heading-color: #383d3d !default;

/*-- scss:rules --*/

.v-center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
}

// Hide footer on title slide
.quarto-title-block .footer {
  display: none !important;
}

.title {
  font-size: 1.5em !important;  /* Adjust this value as needed */
}

.subtitle {
  font-size: 1.2em !important;  /* Adjust this value as needed */
}

.quarto-title-author-name {
  font-size: 0.8em !important;  /* Adjust this value as needed */
}

.quarto-title-affiliatiopn {
  font-size: 0.8em !important;  /* Adjust this value as needed */
}
.quarto-title-block {
  background-color: rgba(220, 220, 220, 0.7);
  border: 5px solid #3399ccff;
  padding: 20px;
  display: inline-block;
}